h1, h2{
    margin: 10px 0px;
}

.about_main{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rd_mission{
    background-image: url(../images/rocking_mountains_lowerres.jpg);
    max-width: none;
    background-position-x: 60%;
}

.mission_box{
    background-color: #000000ad;
}

.mission_header{
    font-size: 2rem;
}

@media (min-width:600px) {
    .rd_mission{
        background-position-y: 25%;
    }
    .mission_box{
        background-color: #0000007d;
    }
    .mission_header{
        font-size: 3rem;
    }
}