.checkout{
    min-height: 800px;
    margin: 75px auto;
    max-width: 1100px;
}

.checkout_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.order_summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
}

h1{
    margin: 10px;
}

.webshop_rowpic{
    max-height: 200px;
}

.product_name{
    font-size: 1.4rem;
    font-family: var(--regular-fonts);
    margin: 3px auto;
}

.product_description{
    margin: 3px auto;   
}

.product_description:nth-of-type(2){
    margin-bottom: 10px;
}

.color{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}

.billing_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-around;
}

.billing{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
}

.order_summary > .billing{
    align-items: center;
}

.billing > label, .billing > input, select, fieldset{
    font-family: var(--regular-fonts);
    max-width: 100%;
    margin: 5px 0px;
}

legend{
    display: none;
}


/* The arrows had no business being on the number inputs, as we're dealing with way to high numbers to use them. Followed this tutorial to remove them: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.small_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: flex-end;
}

.smallfields{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    border: none;
    font-family: var(--regular-fonts);
    padding: 0px;
}

.checkbox{
    display: flex;
    align-items: center;
}

#ccv{
    margin: 5px 0px;
}

#checkout_finish{
    width: 175px;
    margin: 40px auto 0px;
}

/* Added a simple media query to prevent fat-fingering the checkout form on mobile */
@media (max-width: 600px) {
    input, select{
        height: 2rem;
    }

    #checkout_finish{
        height: auto;
    }
}