@import url("imports/variables.css");

html{
    scroll-behavior: smooth;
}

section{
    max-width: 750px;
    margin: auto;
}

.gobygenre{
    max-width: 1000px;
    margin: 50px auto;
}

h1, h2, h3{
    text-align: center;
}

.article_header{
    text-align: center;
}

.genrebox{
    padding: 25px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genre{
    max-width: 300px;
    max-height: 300px;
}

.types_of_clothes{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inspo, #tech, #womens, #mens{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#inspo{
    background-image: url(../images/sindre_cropped.jpg);
}


#tech{
    background-image: url(../images/waterproof.jpg);
}

#womens{
    background-image: url(../images/couple_cropped.jpg);
}

#mens{
    background-image: url(../images/edvin_cropped.jpg);
}

.genreheader{
    font-size: 2rem;
    font-family: var(--header-fonts);
    text-decoration: none;
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #0000000f;
}

.gender{
    text-align: start;
}

.genretxt{
    font-size: 1rem;
    font-family: var(--regular-fonts)
}

.listofjackets{
    max-width: 750px;
    margin: auto;
    padding: 0px 10px;
}

.jackets_scrollbox{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

/*
    The "webkit-scrollbar" effects were done with inspiration from https://css-tricks.com/css-only-carousel/
    If I find the time, I might make a proper carousel with looping, but I'm happy with  this for now. 
  */

.jackets_scrollbox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.jackets_scrollbox::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.733);
  border-radius: 10px;
}
.jackets_scrollbox::-webkit-scrollbar-track {
  background: transparent;
}

.jacketbox{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 20px;
}

.jacketbox:nth-child(1){
    margin-left: 0px;  /* Added to align the 1st image to the header */
}

.productpic{
    height: 150px;
    width: 150px; 
}

