:root{
    --primary-color: #F8F0E3;
    --header-fonts: 'Oswald', 'Open Sans', Arial, Helvetica, sans-serif;
    --regular-fonts: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
    --cta-bg-color: #F8F0E3;
    --cta-bg-hover: #000000;
    --logo-color: #297430;
}

/* This part of the site is not too filled out yet, it's mostly as a proof of concept for my own sake */